.imageCadre {
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
}

mat-grid-list {
    margin: 10px;
}

p {
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 20px;
}

mat-button-toggle-group {
    border-radius: 50px;
}
