<mat-nav-list>
    <div class="whiteLogo" class="whiteLogo" routerLink="/home" routerLinkActive="home-is-active">
        <img [src]="whiteLogo" class="whiteLogo">
    </div>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption"> Home</span>
    </a>
    <a mat-list-item routerLink="/tixbank" (click)="onSidenavClose()">
        <mat-icon>person</mat-icon> <span class="nav-caption"> Vos Points Tix</span>
    </a>
    <a mat-list-item routerLink="/proxies" (click)="onSidenavClose()">
        <mat-icon>design_services</mat-icon> <span class="nav-caption"> Proxies</span>
    </a>
    <a mat-list-item routerLink="/masters" (click)="onSidenavClose()">
        <mat-icon>leaderboard</mat-icon> <span class="nav-caption"> Masters</span>
    </a>
    <!-- icon for deck au pret :my_library_books -->
</mat-nav-list>
