<mat-nav-list>
    <div class="whiteLogo" class="whiteLogo" routerLink="/home" routerLinkActive="home-is-active">
        <img [src]="whiteLogo" class="whiteLogo">
    </div>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption"> Home</span>
    </a>
    <a mat-list-item routerLink="/participants" (click)="onSidenavClose()">
        <mat-icon>person</mat-icon> <span class="nav-caption"> Participants</span>
    </a>
    <a mat-list-item routerLink="/matchs" (click)="onSidenavClose()">
        <mat-icon>local_fire_department</mat-icon> <span class="nav-caption"> Matchs</span>
    </a>
</mat-nav-list>
