<div class="auth-container">
  <div class="logo-background">
      <img [src]="logo" class="bg-logo">
  </div>
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="email" required email>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" required>
        </mat-form-field>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <button mat-raised-button color="primary" class="full-width" [disabled]="!loginForm.valid || loading">
          {{ loading ? 'Chargement...' : 'Se connecter' }}
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/register">Pas de compte ? S'inscrire</button>
    </mat-card-actions>
  </mat-card>
</div>
