<div class="container">

    <h2>TIX Board</h2>

    <p class="update-date">Dernière mise à jour : 13/06/2025</p>

    <h2>
      Lien <a href="https://www.moxfield.com/decks/I_JWM5-JPkOb3cGPVyP1PA" target="_blank">Prize Wall</a>
    </h2>

    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="nom/prénom" #input>
    </mat-form-field>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let tixProfil of filteredTixProfils">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{tixProfil.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{callGetTotalTix(tixProfil)}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <table mat-table [dataSource]="generateDataSource(tixProfil)" matSort class="mat-elevation-z8">
    
            <ng-container matColumnDef="name">
                <td mat-cell *matCellDef="let element" class="left"> {{element.eventName}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <td mat-cell *matCellDef="let element" class="middle"> {{element.date.toLocaleDateString()}} </td>
            </ng-container>
    
            <ng-container matColumnDef="tixDiff">
                <td mat-cell *matCellDef="let element" [ngClass]="element.tixDiff > 0 ? 'green' : 'red'"> {{element.tixDiff}} </td>
            </ng-container>
    
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        </mat-expansion-panel>
      </mat-accordion>
</div>