<mat-toolbar>
    <!-- Left Section (3 items) -->
    <div class="header-section left" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <div class="small-menu-bar" fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleSidenav()" style="color: white;">
                <mat-icon>list</mat-icon>
            </button>
        </div>
        <div class="home-text" routerLink="/home" fxHide.xs>
            MCB
        </div>
        <div class="menu" routerLink="/tixbank" routerLinkActive="is-active" fxHide.xs>
            <span>Vos Points TIX</span>
        </div>
        <div class="menu" routerLink="/proxies" routerLinkActive="is-active" fxHide.xs>
            <span>Proxies</span>
        </div>
        <div class="menu" routerLink="/reports" routerLinkActive="is-active" fxHide.xs>
            <span>Reports</span>
        </div>
    </div>

    <!-- Center Section (Logo) -->
    <div class="header-section center" fxFlex fxLayout="row" fxLayoutAlign="center center">
        <div class="whiteLogo" routerLink="/home">
            <img [src]="whiteLogo" class="whiteLogo">
        </div>
    </div>

    <!-- Right Section (3 items/groups) -->
    <div class="header-section right" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <div class="menu" routerLink="/masters" routerLinkActive="is-active" fxHide.xs>
            <span>Masters</span>
        </div>

        <div class="auth-group" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
            <div class="menu admin-btn" *ngIf="(profile$ | async)?.role === 'admin'" routerLink="/admin" style="color: #f90000; font-weight: bold;">
                ADMIN
            </div>
            
            <ng-container *ngIf="!(currentUser$ | async); else loggedIn">
                <div class="menu" routerLink="/login">Connexion</div>
                <div class="menu" routerLink="/register">Inscription</div>
            </ng-container>

            <ng-template #loggedIn>
                <span class="welcome-text" fxHide.xs>Bonjour, {{ (profile$ | async)?.first_name }}</span>
                <div class="menu" (click)="logout()">Déconnexion</div>
            </ng-template>
        </div>
    </div>
</mat-toolbar>
