.container {
    margin: 15px 10px 20px 10px;
}

mat-card {
    margin: 2%;
}

.team {
    width: 40%;
    text-align: center;
}

.vs {
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.team-name {
    font-weight: bold;
}

.no-team {
    color: gray;
}
