<div class="container">

    <h2>Classement des Masters</h2>
    <p class="update-date">Dernière mise à jour : 16/02/2026</p>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let masterProfil of filteredMasterProfils; index as rank" [ngClass]="rank < 8 ? 'qualified' : ''">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ masterProfil.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ masterProfil.getTotalMasterPoints() }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <table mat-table [dataSource]="generateDataSource(masterProfil)" matSort class="mat-elevation-z8">
    
            <ng-container matColumnDef="name">
                <td mat-cell *matCellDef="let element" class="left"> {{element.eventType}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <td mat-cell *matCellDef="let element" class="middle"> {{element.date.toLocaleDateString()}} </td>
            </ng-container>
    
            <ng-container matColumnDef="masterPoints">
                <td mat-cell *matCellDef="let element"> {{element.masterPoints}} </td>
            </ng-container>
    
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>

        </mat-expansion-panel>
      </mat-accordion>
</div>