/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Supprime le orange par défaut du thème Material sur les champs de saisie */
::ng-deep {
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #f90000 !important;
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: #f90000 !important;
  }
}
