
<div fxLayout="column" fxLayoutAlign="center center" class="by-belugas">

    <div class="logoDiv">
        <img [src]="logo" class="logo">
    </div>

    <div class="calendar-container">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

    <div class="socialsContainer">
        <img [src]="discordLogo" alt="Discord" class="discordDiv" (click)="goDiscord()">
        <img [src]="xlogo" alt="X (Twitter)" class="xDiv" (click)="goTwitter()">
        <img [src]="instalogo" alt="Instagram" class="instaDiv" (click)="goInstagram()">
    </div>
      
      <div class="popup-container" *ngIf="showPopup">
        <div class="popup">
          <h2> 📌 {{ editedTitle }}</h2>
          <p> 📝 {{ editedDescription }}</p>
      
          <!-- Display the image in its original size -->
          <div *ngIf="editedImage">
            <img [src]="editedImage" alt="Event image" class="event-image" />
          </div>
      
          <!-- Delete buttons -->
          <button *ngIf="!isEditing" (click)="deleteEvent()" style="background-color: #f44336; color: white; padding: 8px 15px; border: none; border-radius: 5px; cursor: pointer;">
            Delete </button>
          <button (click)="closePopup()" style="background-color: #000000; color: white; padding: 8px 15px; border: none; border-radius: 5px; cursor: pointer;">
            Close</button>
        </div>
      </div>
      
      
      
      
</div>
